nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    justify-content: left;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    color: #fff;
    padding: 10px;
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
