body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #25274d, #5e4679);
    color: #333;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

.service {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    color: #56ab2f;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-links a {
    color: white;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #0077b5;
}

.social-icon {
    width: 30px;
    height: 30px;
}
